* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #9DC139;
}

.navbar {
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.navbar-hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.navbar-visible {
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.navbar-menu {
    display: flex;
    padding: 10px;
    gap: 100px;
}

.Navbar-Item {
    border: solid;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
}

.Navbar-Item:hover {
    background-color: #1D7171;
    transform: translateY(-2px);
}

.navbar-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #ffd700;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-item:hover::after {
    width: 80%;
    transform: translateX(-50%) scaleX(1.2);
}

.Navbar-Item:active {
    background-color: #1D7171;
    transform: translateY(0);
}

.active-nav{
    background-color: #1D7171;
}

.section {
    min-height: 100vh;
    padding: 80px 20px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Section {
    animation: fadeIn 0.5s ease-in-out;
}