* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    scroll-snap-type: y mandatory;
    background-color: #9DC139;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(0);
    opacity: 1;
}

body.fade-in {
    opacity: 1;
    transform: scale(1);
}

body.fade-out {
    opacity: 0;
    transform: scale(0.95);
}

/* ================================================ */

.Riwayat-Content{
    background-color: #1D7171;
    border-radius: 20px;
    opacity: 0.90;
    padding: 20px;
}

/* ================ Table ====================== */

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(140 140 140);
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background: #dbdbdb;
    border: 1px solid #ccc;
}